<div class="contenedorDogs">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="circulo">
       <div class="letratitulo">Grandes</div>
        <div class="huellaGrande"> <i class="fa fa-paw fa-5x" aria-hidden="true"></i></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="circulo">
        <div class="letratitulo">Medianos</div>
        <div class="huellaMediana"> <i class="fa fa-paw fa-5x" aria-hidden="true"></i></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="circulo">
        <div class="letratitulo">Pequeños</div>
        <div class="huellaPequeños"> <i class="fa fa-paw fa-5x" aria-hidden="true"></i></div>
      </div>
    </div>

  </div>
</div>
<!--
<div class="Contenedor_dog">
  <div class="infdog" *ngFor="let dog of dogs; let i = index">
      <div class="container-imgdog">
        <div class="imgdog"><img class="imgdes img-fluid" [src]="dog.img"></div>
        <div class="titulosdogs">Nombre: </div> <div class="description">{{dog.nombre}}</div>
        <br>
        <div class="titulosdogs">Historia: </div><div>{{dog.bio}}</div>


        </div>
    <button (click)='LeerMas(i)' class="button_vermas"><i class="fa fa-plus" aria-hidden="true"></i> Leer Mas</button>
  </div>

</div>
-->
