.contenedorDogs{
  width: 100%;
  height: 400px;
  margin-top: 40px;
  padding-left: 40px;

}

.circulo {
  margin-top: 50px;
  margin-left: 2%;
  width: 300px;
  height: 300px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #efd200;
  color:#d08126;
  text-align: center;
  padding-top: 35px;
}

.circulo:hover{
  width: 310px;
  height: 310px;
  -webkit-box-shadow: 3px 0px 9px 0px rgba(54,206,212,1);
  -moz-box-shadow: 3px 0px 9px 0px rgba(54,206,212,1);
  box-shadow: 3px 0px 9px 0px rgba(54,206,212,1);


}
.letratitulo{
  font-family: "Asgalt Regular";
  font-size: 70px;

}
.huellaGrande{
  font-size: 30px;
}
.huellaMediana{
  font-size: 20px;
}
.huellaPequeños{
  font-size: 10px;
}

@media screen and (max-width: 766px) {
  .circulo{
    margin-left: 30%;
  }

}
@media screen and (max-width: 580px) {
  .circulo{
    margin-left: 10%;
  }


}

@media screen and (max-width: 457px) {
  .circulo{
    margin-left: 4%;
  }


}
