<div class="row">
  <div class="styleContainerNav">
    <div class="conteimg">
      <img class="logoimg" src="../../../../assets/img/guao.png">
    </div>
    <div class="contemas">
        <div (click)="MostarMenu=!MostarMenu" class="menu_bar">
          <i class="fa fa-align-justify fa-2x" aria-hidden="true"> Menú </i>
        </div>
      <div class="contenboton">
        <div class="button_nav"><a [routerLink]="['home']"> <i class="fa fa-home icoHome" aria-hidden="true"></i> Home</a></div>
        <div class="button_nav"><a [routerLink]="['dogs']"><i class="fa fa-paw" aria-hidden="true"></i> Razas</a></div>
        <div class=" buscar">
          <input class="buscarnav" type="text" placeholder="Raza" (keyup.enter)='buscarDogs(buscarTexto.value)' #buscarTexto>
          <button (click)="buscarDogs(buscarTexto.value)" class="button_buscar"> <i class="fa fa-search" aria-hidden="true"></i>Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="MostarMenu" class="row menuS">

  <div class="stylemenuxs">  <input class="buscarnavxs" type="text" #buscarText (keyup)="buscarDogs(buscarText.value)"><i class="fa fa-search" aria-hidden="true"></i > Buscar </div>

  <div class="stylemenuxs"><a [routerLink]="['home']"> <i class="fa fa-home icoHome" aria-hidden="true"></i>Home</a></div>

  <div class="stylemenuxs"><a [routerLink]="['dogs']"><i class="fa fa-paw" aria-hidden="true"></i>Razas</a></div>


</div>


<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dogs']">Dogs</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>-->
